@size: 140px;

.baseView {
  position: relative;
  width: @size;
  height: @size;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.baseView > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
